.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.description {
  display: flex;
  justify-content: center;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.SprintReport {
  font-weight: 400;
  font-size: 24px;
}

.NotSelectedSprintReport {
  opacity: 50%;
  cursor: pointer;
  transition-duration: 100ms;
}

.NotSelectedSprintReport:hover {
  opacity: 100%;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: radial-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 255, 0.1));
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: radial-gradient(rgba(1, 65, 255, 0.2), rgba(1, 65, 255, 0.1));
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.grid {
  width: 80vw;
  grid-template-areas: 
  'a b c d'
  'e e f g'
  'h i j g';
  height: 80vh;
  animation: fadein 1s;

  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 1rem;
}

.grid2 {
  width: 80vw;
  grid-template-areas: 
  'a b c d'
  'e e f g'
  'h i j g';
  height: 80vh;
  animation: fadein 1s;

  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 1rem;
}

.A{
  grid-area: a;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
}

.A h1 {
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.B{
  grid-area: b;
  box-sizing: border-box;
  font-size: .8rem;
  text-align: center;
}
.C{
  grid-area: c;
  font-size: .8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.C h1 {
  margin-top: .5rem;
}

.D{
  grid-area: d;
  font-size: .8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.D h1 {
  margin-top: .5rem;
}
.E{
  grid-area: e;
}
.F{
  grid-area: f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.G{
  grid-area: g;
  font-size: .8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.H{
  grid-area: h;
  font-size: .8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.H h1 {
  margin-top: 1rem;
}
.I{
  grid-area: i;
  font-size: .8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.I div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.I h1 {
  margin-top: .5rem;
}

.J{
  grid-area: j;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.J div {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #000000b7;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    #082238,
    #0c1825
  );
  background-clip: content-box;
}

.fourteen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.fourteen::before,
.fourteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.fourteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.fourteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    #082238,
    #0c1825
  );
  box-shadow: inset 0px 0px 10px #000000de;
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(#232f3e),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    display: flex;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(#131a22) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


.logo,
.thirteen img {
  filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
